:root {
    --button-color: rgb(107, 23, 155);
    --button-color-2: rgb(162, 94, 202);
    --wrong-button: rgb(155, 25, 25);
    --site-font: "Calibri", "Helvetica", "Futura";
}

* {
    box-sizing: border-box;
    flex-wrap: wrap;
    font-family: var(--site-font);
}

header {
    text-align: center;
    margin: 20vh 0 10vh 0;
}

#prompt {
    text-align: center;
    margin: 0 15vh 5vh 15vh;
}

#question-list {
    margin-bottom: 5vh;
}

#question-list li {
    margin: 10px 0 0 40%;
    list-style: none;
    font-size: 150%;
    background-color: var(--button-color);
    color: white;
    padding: 5px 30px;
    border-radius: 10px;
    border-color: var(--button-color);
    cursor: pointer;
    width: 35%;
    text-align: left;
    margin-left: 30%;
}

#start-button {
    display: flex;
    align-items: center;
    background-color: var(--button-color);
    color: white;
    font-size: 150%;
    padding: 5px 30px;
    margin: 0 auto;
    border-radius: 10px;
    border-color: var(--button-color);
    cursor: pointer;
}

#timer {
    position: fixed;
    top: 5vh;
    right: 15vh;
}